/* Pimary colours */
$primaryColour: white; // Everything
$secondaryColour: black; // Use for buttons when being selected/hovered, text colour
$tertiaryColour: #005FED; // Use for links, misc

/* Fonts */
$mainFont: Arial, Helvetica, sans-serif;
$pSize: 1.75em; // Paragraph
$linksSize: 1.75em; // Links
$h1Size: 2.25em; // Heading 1
$titleSize: 3.125em; // Title